/* --------------------------
  Base Styles
--------------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  /*font-size: 16px;*/
	margin: 0;
  padding: 0;
  font: 300 1em/1.8em "Work Sans", Helvetica, Arial, sans-serif;
  /*line-height: 1.5;*/
}

h1 {
  font: 40px/40px "Chonburi", Georgia, serif;
  text-transform: uppercase;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.container-fluid {
  background: url(../img/bg-769.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.container {
	width: 90%;
	margin: 60px auto;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
	p {
		-webkit-column-count: 2;
		-webkit-column-gap: 2.5em;

		-moz-column-count: 2;
		-moz-column-gap: 2.5em;

		column-count: 2;
		column-gap: 2.5em;
	}
}

@media (min-width: 1200px) {
  .container-fluid {
    background-image: url(../img/bg-1200.jpg);
  }
	.container {
		width: 1080px;
	}
}
